* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Zorgt ervoor dat padding en border worden meegerekend in de breedte/hoogte */
}

html, body {
    overflow-x: hidden; /* Verwijder horizontale scrollbars */
    width: 100%; /* Zorg ervoor dat de breedte van de pagina niet groter is dan het scherm */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #515541;
}

.header-container {
    padding: 40px 80px 60px 80px; /* Voeg witruimte rondom de header toe */
    background-color: #515541; /* Achtergrondkleur buiten de gestippelde lijn */
}

header {
    height: calc(100vh - 100px); /* Zorgt ervoor dat de header 100vh minus de padding van de container inneemt */
    border: 3px dashed #FDF5E6; /* Gestippelde rand */
    border-radius: 10px; /* Optioneel: afgeronde hoeken */
    display: flex; /* Maakt het mogelijk om de inhoud te centreren */
    flex-direction: column; /* Zorgt ervoor dat de inhoud onder elkaar staat */
    justify-content: center; /* Centreert de inhoud verticaal */
    align-items: center; /* Centreert de inhoud horizontaal */
    text-align: center; /* Zorgt ervoor dat de tekst gecentreerd is */
    background-color: #515541; /* Achtergrondkleur van de header */
    color: #FDF5E6; /* Tekstkleur */
    box-sizing: border-box; /* Inclusief padding en border in de hoogte */
    position: relative; /* Voor het positioneren van de afbeelding */
}

header img {
    max-width: 40%; /* Zorgt ervoor dat de afbeelding niet breder wordt dan 80% van de header */
    height: auto; /* Houdt de verhoudingen van de afbeelding intact */
    margin: 10px 0; /* Voeg wat ruimte toe boven en onder de afbeelding */
}

header h2 {
    font-family: "Antic Didone", serif;
    color: #FDF5E6;
    font-size: 3rem;
    margin: 5px auto;
}

header p {
    font-family: "Antic Didone", serif;
    color: #FDF5E6;
    font-size: 1.5rem;
    margin: 3px auto;
    text-transform: uppercase;
}

.button {
    margin: 10px 0; /* Voeg wat ruimte boven en onder de knop toe */
    display: inline-block; /* Zorgt ervoor dat de knop correct wordt weergegeven */
    text-align: center; /* Centreert de tekst in de knop */
    border: 2px solid #515541; /* Randkleur */
    color: #515541; /* Tekstkleur */
    padding: 10px 30px; /* Binnenruimte van de knop */
    text-decoration: none; /* Verwijdert onderstreping */
    font-family: "Antic Didone", serif; /* Zorgt voor consistentie in de stijl */
    font-size: 1.5rem; /* Pas de tekstgrootte aan */
    border-radius: 5px; /* Maakt de hoeken afgerond */
    transition: background-color 0.5s, color 0.5s, transform 0.1s, box-shadow 0.1s; /* Voeg een animatie toe */
    background-color: #FDF5E6; /* Transparante achtergrond */
    box-shadow: 0 7px 0px rgb(81, 85, 65);
}

.button:hover {
    background-color: #FDF5E6; /* Achtergrondkleur bij hover */
    color: #515541; /* Tekstkleur bij hover */
    transform: translateY(3px); /* Laat de knop iets naar beneden bewegen */
    box-shadow: 0 4px 0px rgb(81, 85, 65);
}

#locatie .button {
    background-color: #FDF5E6; /* Achtergrondkleur van de knop */
    color: #515541; /* Tekstkleur van de knop */
    border: 1px solid #515541; /* Randkleur van de knop */
}

#locatie .button:hover {
    transform: translateY(3px); /* Laat de knop iets naar beneden bewegen */
    box-shadow: 0 4px 0px rgb(81, 85, 65);
}

.of {
    display: inline-block;
    padding: 0 7.5px;
    font-family: "Corinthia", cursive;
    font-size: 1.5em;
}

#countdown {
    display: flex;
    justify-content: center; /* Centreert de countdown-items horizontaal */
    gap: 20px; /* Ruimte tussen de countdown-items */
    position: absolute; /* Maakt het mogelijk om de countdown te positioneren */
    bottom: -40px; /* Plaatst de countdown 20px boven de onderkant van de header */
    left: 50%; /* Centreert de countdown horizontaal */
    transform: translateX(-50%); /* Corrigeert de positie zodat deze perfect gecentreerd is */
    z-index: 1; /* Zorgt ervoor dat de countdown boven de gestippelde lijn staat */
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #FDF5E6;
    color: darkslategrey;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-align: center;
}

.countdown-item span {
    font-size: 1.5rem;
}

.countdown-item p {
    font-size: 0.6rem;
    margin: 0;
    color: grey;
}

h1 {
    font-family: "Corinthia", cursive;
    color: #FDF5E6;
    margin: 5px auto;
}

h2 {
    color: darkslategray;
}

.container {
    width: 100%; /* De container neemt de volledige breedte van het scherm */
    margin: 0 auto;
    padding: 60px 0; /* Alleen verticale padding */
    display: flex;
    flex-direction: column; /* Standaard: secties onder elkaar */
    gap: 20px;
    background-color: #515541;
}

.container-rsvp {
    width: 100%; /* De container neemt de volledige breedte van het scherm */
    margin: 0 auto;
    padding: 30px 0; /* Alleen verticale padding */
    display: flex;
    flex-direction: row; /* Standaard: secties onder elkaar */
    gap: 20px;
    background-color: #FDF5E6;
}

.container-inner {
    width: 80vw; /* Zorgt ervoor dat de inhoud dezelfde breedte heeft als de header */
    margin: 0 auto; /* Centreert de inhoud binnen de container */
    display: flex;
    flex-direction: column; /* Standaard: secties onder elkaar */
    gap: 20px;
}

.container-inner-rsvp {
    width: 80vw; /* Zorgt ervoor dat de inhoud dezelfde breedte heeft als de header */
    margin: 0 auto; /* Centreert de inhoud binnen de container */
    display: flex;
    flex-direction: row; /* Standaard: secties onder elkaar */
    gap: 20px;
}

.container-rsvp p {
    display: inline-block;
    margin: 0; /* Verwijdert standaard marges */
    font-family: "Corinthia", cursive; /* Zorgt voor consistentie in de stijl */
    font-size: 7rem; /* Pas de tekstgrootte aan */
    font-weight: bold;
    color: #515541; /* Tekstkleur */
    text-align: right; /* Centreert de tekst */
    padding: 10px 20px; /* Voeg wat binnenruimte toe */
    width: 50%;
}

.container-inner-rsvp-button {
    display: inline-block;
    width: 50%;
    text-align: center;
    justify-content: left;
    align-content: center;
}

section {
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    background-color: #FDF5E6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

section h2 {
    font-family: 'Montserrat', sans-serif;
}

section p, li {
    font-family: "Antic Didone", serif;
}

.planning {
    display: flex; /* Activeer Flexbox */
    flex-direction: column; /* Zorg ervoor dat de inhoud onder elkaar staat */
    justify-content: center; /* Centreer de inhoud verticaal */
    align-items: center;
}

section li {
    font-size: 1.5rem;
    margin: 2.5px 0; /* Ruimte tussen de lijstitems */
}

section ul {
    list-style-type: none;
    padding: 40px 0;
    margin: 0; /* Verwijder standaard marges */
    display: flex;
    flex-direction: column; /* Plaats de lijstitems onder elkaar */
    justify-content: center; /* Centreer de lijstitems verticaal */
    align-items: center; /* Centreer de lijstitems horizontaal */
    gap: 10px;
    height: 80%;
}

section img {
    max-width: 60%; /* Zorgt ervoor dat de afbeelding niet breder wordt dan de sectie */
    height: auto; /* Houdt de verhoudingen van de afbeelding intact */
    display: block; /* Verwijdert eventuele inline spacing */
    margin: 10px auto; /* Centreert de afbeelding binnen de sectie */
}

.ambrosiushoeve img {
    max-width: 80%; /* Specifiek voor de afbeelding in de eerste sectie */
}

footer {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 10px;
    background-color: #515541;
    color: #FDF5E6;
}

footer p {
    display: inline-block;
    padding: 10px 0;
}

@media (min-width: 1024px) {
    .container-inner {
        flex-direction: row; /* Plaatst secties naast elkaar */
        justify-content: space-between; /* Ruimte tussen de secties */
        align-items: stretch; /* Lijn de secties bovenaan uit */
    }

    section {
        flex: 1; /* Zorgt ervoor dat secties gelijke breedte hebben */
        margin: 0 10px; /* Ruimte tussen de secties */
    }
}

@media (max-width: 768px) {
    body {
        font-size: 16px; /* Zorg voor een leesbare tekstgrootte */
        margin: 0;
        padding: 0;
    }

    .header-container {
        padding: 20px 20px 40px 20px; /* Verminder de padding voor kleinere schermen */
    }

    header {
        flex-direction: column; /* Zorgt ervoor dat de inhoud onder elkaar komt */
        text-align: center; /* Centreert de tekst */
        padding: 20px; /* Voeg wat padding toe voor een nette weergave */
        height: calc(100vh - 60px);
    }

    header img {
        max-width: 90%;
    }

    header h1 {
        font-size: 1.5rem; /* Pas de grootte van de titel aan */
        margin-bottom: 5px;
        word-break: break-word; /* Breek woorden indien nodig */
        white-space: normal; /* Zorg ervoor dat de tekst meerdere regels kan gebruiken */
        text-align: center;
        width: 50%;
    }

    header h2 {
        font-size: 1.5rem; /* Pas de grootte van de subtitel aan */
        margin-bottom: 5px;
        word-break: break-word; /* Breek woorden indien nodig */
        white-space: normal; /* Zorg ervoor dat de tekst meerdere regels kan gebruiken */
        text-align: center;
        width: 50%;
    }

    header p {
        font-size: 1rem; /* Pas de grootte van de tekst aan */
        margin-bottom: 5px; /* Voeg ruimte toe onder de tekst */
        word-break: break-word; /* Breek woorden indien nodig */
        white-space: normal; /* Zorg ervoor dat de tekst meerdere regels kan gebruiken */
        text-align: center;
        width: 50%;
    }

    .container-rsvp {
        padding: 20px; /* Verminder de padding */
    }

    .container-rsvp p {
        font-size: 1.5rem; /* Pas de tekstgrootte aan */
    }

    .container-rsvp a {
        font-size: 1.2rem; /* Pas de knoptekstgrootte aan */
        padding: 10px 20px; /* Verminder de knopgrootte */
    }

    .container {
        padding: 20px; /* Verminder de padding */
    }

    .container-inner {
        width: 100%; /* Zorg ervoor dat de container de volledige breedte gebruikt */
        gap: 15px; /* Verminder de ruimte tussen secties */
    }

    section {
        padding: 15px; /* Verminder de padding binnen secties */
    }

    section img {
        max-width: 100%; /* Zorg ervoor dat afbeeldingen responsief zijn */
        height: auto; /* Behoud de verhoudingen van de afbeelding */
    }

    section ul {
        padding-left: 20px; /* Zorg voor een nette uitlijning van lijsten */
    }

    section ul li {
        font-size: 1rem; /* Pas de tekstgrootte van lijstitems aan */
    }

    footer p {
        font-size: 0.9rem; /* Maak de tekst in de footer kleiner */
        text-align: center; /* Centreer de tekst in de footer */
        display: block;
        padding: 2px 0;
    }

    .hideInMobile {
        display: none; /* Verberg elementen met deze klasse op mobiele apparaten */
    }

    #countdown {
        gap: 10px; /* Verminder de ruimte tussen de countdown-items */
        position: relative;
        left: 0;
        transform: translateX(0); /* Verwijder de translate om de countdown-items te centreren */
        bottom: 0; /* Verwijder de negatieve waarde om de countdown-items onder de header te plaatsen */
        margin: 20px auto; /* Centreer de countdown-items */
    }

    .countdown-item {
        width: 60px; /* Maak de countdown-items kleiner */
        height: 60px; /* Zorg ervoor dat de hoogte overeenkomt met de breedte */
        font-size: 0.8rem; /* Pas de tekstgrootte aan */
    }

    .countdown-item span {
        font-size: 1.2rem; /* Maak de cijfers kleiner */
    }

    .countdown-item p {
        font-size: 0.5rem; /* Maak de tekst onder de cijfers kleiner */
    }
}