@font-face {
    font-family: 'rondal-regular'; /* Geef het font een naam */
    src: url('../assets/fonts/Rondal-Regular.otf') format('otf'); /* Pad naar het .woff2-bestand */
    font-weight: normal; /* Optioneel: specificeer het gewicht */
    font-style: normal;  /* Optioneel: specificeer de stijl */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Zorgt ervoor dat padding en border worden meegerekend in de breedte/hoogte */
}

html, body {
    overflow-x: hidden; /*Verwijder horizontale scrollbars */
    width: 100%; /* Zorg ervoor dat de breedte van de pagina niet groter is dan het scherm */
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FDF5E6; /* Oorspronkelijk #515541 */
    color: #515541;
    background: url('../assets/images/logoTransparant.png') no-repeat center center fixed; /* Voeg de achtergrondafbeelding toe */
    background-size: cover;
}

body.reverse-colors {
    color: #FDF5E6; /* Oorspronkelijk #515541 */
}

.header-container {
    padding: 10px 80px 60px 80px; /* Voeg witruimte rondom de header toe */
    background-color: rgba(253, 245, 230, 0.3);
}

.reverse-colors .header-container {
    background-color: rgba(81, 85, 65, 0.7); /* Oorspronkelijk rgba(81, 85, 65, 0.3) */
}

header {
    height: calc(100vh - 70px); /* Zorgt ervoor dat de header 100vh minus de padding van de container inneemt */
    border-radius: 10px; /* Optioneel: afgeronde hoeken */
    display: flex; /* Maakt het mogelijk om de inhoud te centreren */
    flex-direction: column; /* Zorgt ervoor dat de inhoud onder elkaar staat */
    justify-content: center; /* Centreert de inhoud verticaal */
    align-items: center; /* Centreert de inhoud horizontaal */
    text-align: center; /* Zorgt ervoor dat de tekst gecentreerd is */
    color: #515541; /* Oorspronkelijk #FDF5E6 */
    box-sizing: border-box; /* Inclusief padding en border in de hoogte */
    position: relative; /* Voor het positioneren van de afbeelding */
}

.reverse-colors header{
    color: #FDF5E6; /* Oorspronkelijk #515541 */
}

header h2 {
    font-family: 'Rondal', sans-serif;
    color: #515541; /* Oorspronkelijk #FDF5E6 */
    font-size: 4rem;
    margin: 0 auto 5px auto; /* Voeg ruimte toe onder de tekst */
}

.reverse-colors header h1, .reverse-colors header h2 {
    color: #FDF5E6; /* Oorspronkelijk #515541 */
}

header p {
    font-family: "Outfit", sans-serif; /* Zorgt voor consistentie in de stijl */
    color: #515541; /* Oorspronkelijk #FDF5E6 */
    font-size: 1.5rem;
    margin: 0 auto;
    text-transform: uppercase;
}

.reverse-colors header p {
    color: #FDF5E6; /* Oorspronkelijk #515541 */
}

.button {
    margin: 10px 0; /* Voeg wat ruimte boven en onder de knop toe */
    display: inline-block; /* Zorgt ervoor dat de knop correct wordt weergegeven */
    text-align: center; /* Centreert de tekst in de knop */
    border: 2px solid #FDF5E6; /* Oorspronkelijk #515541 */
    color: #FDF5E6; /* Oorspronkelijk #515541 */
    padding: 10px 30px; /* Binnenruimte van de knop */
    text-decoration: none; /* Verwijdert onderstreping */
    font-family: "Outfit", sans-serif; /* Zorgt voor consistentie in de stijl */
    font-size: 1.5rem; /* Pas de tekstgrootte aan */
    border-radius: 5px; /* Maakt de hoeken afgerond */
    transition: background-color 0.5s, color 0.5s, transform 0.1s, box-shadow 0.1s; /* Voeg een animatie toe */
    background-color: #515541; /* Oorspronkelijk #FDF5E6 */
    box-shadow: 0 7px 0px rgb(253, 245, 230); /* Oorspronkelijk rgb(81, 85, 65) */
}

body.reverse-colors .button {
    background-color: #FDF5E6; /* Oorspronkelijk #515541 */
    color: #515541; /* Oorspronkelijk #FDF5E6 */
    border: 2px solid #515541; /* Oorspronkelijk #FDF5E6 */
    box-shadow: 0 7px 0px rgb(81, 85, 65);
}

.button:hover {
    background-color: #515541; /* Oorspronkelijk #FDF5E6 */
    color: #FDF5E6; /* Oorspronkelijk #515541 */
    transform: translateY(3px); /* Laat de knop iets naar beneden bewegen */
    box-shadow: 0 4px 0px rgb(253, 245, 230); /* Oorspronkelijk rgb(81, 85, 65) */
}

.reverse-colors .button:hover {
    background-color: #FDF5E6; /* Oorspronkelijk #515541 */
    color: #515541; /* Oorspronkelijk #FDF5E6 */
    transform: translateY(3px); /* Laat de knop iets naar beneden bewegen */
    box-shadow: 0 4px 0px rgb(81, 85, 65); /* Oorspronkelijk rgb(253, 245, 230) */
}

#locatie .button {
    background-color: #515541; /* Oorspronkelijk #FDF5E6 */
    color: #FDF5E6; /* Oorspronkelijk #515541 */
    border: 1px solid #FDF5E6; /* Oorspronkelijk #515541 */
    font-family: "Outfit", sans-serif; /* Zorgt voor consistentie in de stijl */
}

.reverse-colors #locatie .button {
    background-color: #FDF5E6; /* Oorspronkelijk #515541 */
    color: #515541; /* Oorspronkelijk #FDF5E6 */
    border: 1px solid #515541; /* Oorspronkelijk #FDF5E6 */
}

#locatie .button:hover {
    transform: translateY(3px); /* Laat de knop iets naar beneden bewegen */
    box-shadow: 0 4px 0px rgb(253, 245, 230); /* Oorspronkelijk rgb(81, 85, 65) */
}

.reverse-colors #locatie .button:hover {
    transform: translateY(3px); /* Laat de knop iets naar beneden bewegen */
    box-shadow: 0 4px 0px rgb(81, 85, 65); /* Oorspronkelijk rgb(253, 245, 230) */
}

#countdown {
    display: flex;
    justify-content: center; /* Centreert de countdown-items horizontaal */
    gap: 20px; /* Ruimte tussen de countdown-items */
    position: absolute; /* Maakt het mogelijk om de countdown te positioneren */
    bottom: -40px; /* Plaatst de countdown 20px boven de onderkant van de header */
    left: 50%; /* Centreert de countdown horizontaal */
    transform: translateX(-50%); /* Corrigeert de positie zodat deze perfect gecentreerd is */
    z-index: 1; /* Zorgt ervoor dat de countdown boven de gestippelde lijn staat */
}

.countdown-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background-color: #515541;
    color: #FDF5E6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: "Outfit", sans-serif;
    font-weight: bold;
    text-align: center;
}

.reverse-colors .countdown-item {
    background-color: #FDF5E6;
    color: #515541; /* Oorspronkelijk #515541 */
}

.countdown-item span {
    font-size: 1.5rem;
}

.countdown-item p {
    font-size: 0.6rem;
    margin: 0;
    color: #FDF5E6;
}

.reverse-colors .countdown-item p{
    color: #515541; /* Oorspronkelijk #FDF5E6 */
}

h1 {
    font-family: 'Kendra Signature', "Corinthia", sans-serif;
    color: #515541;
    margin: 0 auto;
    font-size: 1.5rem; /* Pas de grootte van de titel aan */
}

.reverse-colors h1{
    color: #FDF5E6; /* Oorspronkelijk #515541 */
}

.container {
    width: 100%; /* De container neemt de volledige breedte van het scherm */
    margin: 0 auto;
    display: flex;
    flex-direction: column; /* Standaard: secties onder elkaar */
    background-color: rgb(81, 85, 65);
}

.reverse-colors .container {
    background-color: #FDF5E6; /* Oorspronkelijk rgba(253, 245, 230, 0.3) */
}

.container-rsvp {
    width: 100%; /* De container neemt de volledige breedte van het scherm */
    margin: 0 auto;
    padding: 20px 0; /* Alleen verticale padding */
    background-color: #515541;
}

.reverse-colors .container-rsvp {
    background-color: #FDF5E6; /* Oorspronkelijk #515541 */
}

.container-inner {
    width: 70%; /* Zorgt ervoor dat de inhoud dezelfde breedte heeft als de header */
    margin: 0 auto; /* Centreert de inhoud binnen de container */
    display: flex;
    flex-direction: column; /* Standaard: secties onder elkaar */
    justify-content: center;
    align-items: center;
    padding: 30px 0; /* Alleen verticale padding */
}

.container-inner-rsvp {
    width: 80vw; /* Zorgt ervoor dat de inhoud dezelfde breedte heeft als de header */
    margin: 0 auto; /* Centreert de inhoud binnen de container */
}

.container-rsvp p {
    display: block;
    margin: 0; /* Verwijdert standaard marges */
    font-family: 'Kendra Signature', "Corinthia", sans-serif; /* Zorgt voor consistentie in de stijl */
    font-size: 4rem; /* Pas de tekstgrootte aan */
    font-weight: bold;
    color: #FDF5E6; /* Tekstkleur */
    text-align: center; /* Centreert de tekst */
    width: 100%;
}

.reverse-colors .container-rsvp p{
    color: #515541; /* Oorspronkelijk #FDF5E6 */
}

section {
    padding: 50px 0;
    margin: 10px 0;
    background-color: #515541;
    color: #FDF5E6;
    text-align: center;
    max-width: 40%;
    border:2px solid #FDF5E6; /* Oorspronkelijk #515541 */
}

.reverse-colors section {
    background-color: #FDF5E6;
    color: #515541; /* Oorspronkelijk #515541 */
    border:2px solid #515541;
}

section h2 {
    font-family: "Outfit", sans-serif;
    padding-top: 20px;
    height: 30%;
}

section p, li {
    font-family: "Outfit", sans-serif;
}

.planning {
    display: flex; /* Activeer Flexbox */
    flex-direction: column; /* Zorg ervoor dat de inhoud onder elkaar staat */
    justify-content: center; /* Centreer de inhoud verticaal */
    align-items: center;
}

section li {
    font-size: 1rem;
    margin: 2.5px 0; /* Ruimte tussen de lijstitems */
}

section ul {
    list-style-type: none;
    padding: 20px 0;
    margin: 0; /* Verwijder standaard marges */
    display: flex;
    flex-direction: column; /* Plaats de lijstitems onder elkaar */
    justify-content: center; /* Centreer de lijstitems verticaal */
    align-items: center; /* Centreer de lijstitems horizontaal */
    gap: 10px;
    height: 70%;
    line-height: 1.5;
}

footer {
    font-family: "Outfit", sans-serif;
    text-align: center;
    padding: 10px;
    background-color: #FDF5E6; /* Oorspronkelijk #515541 */
    color: #515541; /* Oorspronkelijk #FDF5E6 */
}

body.reverse-colors footer {
    background-color: #515541; /* Oorspronkelijk #FDF5E6 */
    color: #FDF5E6; /* Oorspronkelijk #515541 */
}

footer p {
    display: inline-block;
    padding: 10px 0;
}

.toggle-switch {
    position: absolute;
    top: 20px; /* Plaats de schakelaar 20px vanaf de bovenkant */
    right: 20px; /* Plaats de schakelaar 20px vanaf de rechterkant */
    z-index: 1000; /* Zorg ervoor dat de schakelaar boven andere elementen staat */
    width: 50px; /* Breedte van de schakelaar */
    height: 25px; /* Hoogte van de schakelaar */
    border: 1px solid #515541; /* Kleur van de rand */
    border-radius: 25px; /* Maak de schakelaar volledig afgerond */
    background-color: #FDF5E6; /* Achtergrondkleur van de schakelaar */
}

.toggle-switch .reverse-colors{
    background-color: #515541; /* Oorspronkelijk #FDF5E6 */
    color: #FDF5E6; /* Oorspronkelijk #515541 */
}

.toggle-switch input {
    display: none; /* Verberg de standaard checkbox */
}

.toggle-switch .slider {
    position: relative;
    width: 100%; /* Breedte van de schakelaar */
    height: 100%; /* Hoogte van de schakelaar */
    background-color: #515541; /* Achtergrondkleur van de schakelaar */
    border-radius: 25px; /* Maak de schakelaar volledig afgerond */
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch .slider .reverse-colors{
    background-color: #FDF5E6; 
}

.toggle-switch .slider::before {
    content: "";
    position: absolute;
    width: 21px; /* Diameter van de cirkel */
    height: 21px; /* Diameter van de cirkel */
    background-color: #515541; /* Kleur van de cirkel */
    border-radius: 50%; /* Maak de cirkel volledig rond */
    top: 1px; /* Plaats de cirkel binnen de schakelaar */
    left: 1px; /* Plaats de cirkel aan de linkerkant */
    transition: transform 0.3s;
}

.toggle-switch .slider::before .reverse-colors{
    background-color: #FDF5E6; /* Kleur van de cirkel */
}

.toggle-switch input:checked + .slider {
    background-color: #515541; /* Achtergrondkleur bij ingeschakelde modus */
}

.toggle-switch input:checked + .slider .reverse-colors{
    background-color: #FDF5E6; /* Achtergrondkleur bij ingeschakelde modus */
}

.toggle-switch input:checked + .slider::before {
    transform: translateX(25px); /* Verplaats de cirkel naar rechts */
    background-color: #515541; /* Kleur van de cirkel bij ingeschakelde modus */
}

.slideshow {
    position: relative;
    width: 100%;
    height: 55%; /* Stel de hoogte van de slideshow in */
    overflow: hidden;
    margin: 10px auto; /* Centreer de slideshow */
}

.slideshow .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover; /* Zorg ervoor dat de afbeelding de container volledig bedekt */
    opacity: 0; /* Verberg de afbeelding standaard */
    transition: opacity 1s ease-in-out; /* Voeg een fade-effect toe */
}

.slideshow .slide.active {
    opacity: 1; /* Toon de actieve afbeelding */
}

.map-buttons {
    display: flex;
    justify-content: center; /* Centreer de knoppen */
    gap: 20px; /* Voeg ruimte toe tussen de knoppen */
    margin-top: 20px; /* Voeg wat ruimte boven de knoppen toe */
}

.map-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px; /* Breedte van de knop */
    height: 60px; /* Hoogte van de knop */
    border-radius: 10px; /* Maak de hoeken afgerond */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Voeg een schaduw toe */
    transition: transform 0.2s, box-shadow 0.2s; /* Voeg een hover-effect toe */
}

.waze{
    background-color: lightskyblue; /* Achtergrondkleur van de knop */
}

.maps{
    background-color: white; /* Achtergrondkleur van de knop */
}

.map-button img {
    width: 30px; /* Breedte van het icoon */
    height: 30px; /* Hoogte van het icoon */
}

.map-button:hover {
    transform: scale(1.1); /* Vergroot de knop iets bij hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Versterk de schaduw bij hover */
}

.logo-container {
    position: absolute;
    top: 20px; /* Plaats het logo 20px vanaf de bovenkant */
    left: 20px; /* Plaats het logo 20px vanaf de linkerkant */
    width: 80px; /* Breedte van het logo-kader */
    height: 80px; /* Hoogte van het logo-kader */
    display: flex;
    flex-direction: column; /* Zorg ervoor dat de inhoud onder elkaar staat */
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Zorg ervoor dat het logo boven andere elementen staat */
    font-family: 'Rondal', sans-serif;
    font-size: 1.5rem; /* Pas de tekstgrootte aan */
    line-height: 1;
}

.logo-container p{
    display: block;
    width: 100%;
    text-align: center;
}

.logo-container p:first-of-type {
    border-bottom: 2px solid #515541; /* Voeg een onderrand toe */
    width: 20%; /* Zorg ervoor dat de rand de volledige breedte van het element inneemt */
    text-align: center; /* Centreer de tekst */
}

.reverse-colors .logo-container p:first-of-type {
    border-bottom: 2px solid #FDF5E6; /* Voeg een onderrand toe */
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FDF5E6; /* Witte achtergrond */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Zorg ervoor dat de overlay boven alles staat */
    opacity: 1; /* Begin volledig zichtbaar */
    transition: opacity 0.5s ease-out; /* Voeg een fade-out transitie toe */
}

.loading-svg {
    width: 300px; /* Pas de grootte van de SVG aan */
    height: 300px;
}

.loading-path {
    fill: none; /* Zorg ervoor dat het pad niet gevuld is */
    stroke: #515541; /* Kleur van de lijn */
    stroke-width: 7; /* Dikte van de lijn */
    stroke-dasharray: 2000; /* Zorg ervoor dat het pad volledig is onderbroken */
    stroke-dashoffset: 2000; /* Begin met een volledig verborgen pad */
    animation: draw 4s ease-in-out 0.5s forwards; /* Voer de animatie uit */
}

@keyframes draw {
    to {
        stroke-dashoffset: 0; /* Teken het volledige pad */
    }
}


@media (min-width: 1024px) {
    .container-inner {
        flex-direction: row; /* Plaatst secties naast elkaar */
        justify-content: space-between; /* Ruimte tussen de secties */
        align-items: stretch; /* Lijn de secties bovenaan uit */
    }

    section {
        flex: 1; /* Zorgt ervoor dat secties gelijke breedte hebben */
        margin: 0 10px; /* Ruimte tussen de secties */
    }
}

@media (max-width: 768px) {
    body {
        font-size: 16px; /* Zorg voor een leesbare tekstgrootte */
        margin: 0;
        padding: 0;
    }

    .header-container {
        padding: 20px 20px 40px 20px; /* Verminder de padding voor kleinere schermen */
    }

    header {
        flex-direction: column; /* Zorgt ervoor dat de inhoud onder elkaar komt */
        text-align: center; /* Centreert de tekst */
        padding: 20px; /* Voeg wat padding toe voor een nette weergave */
        height: calc(100vh - 60px);
    }

    header img {
        max-width: 90%;
    }

    header h1 {
        font-size: 1.5rem; /* Pas de grootte van de titel aan */
        margin-bottom: 5px;
        word-break: break-word; /* Breek woorden indien nodig */
        white-space: normal; /* Zorg ervoor dat de tekst meerdere regels kan gebruiken */
        text-align: center;
        width: 50%;
    }

    header h2 {
        font-size: 1.5rem; /* Pas de grootte van de subtitel aan */
        margin-bottom: 5px;
        word-break: break-word; /* Breek woorden indien nodig */
        white-space: normal; /* Zorg ervoor dat de tekst meerdere regels kan gebruiken */
        text-align: center;
        width: 50%;
    }

    header p {
        font-size: 1rem; /* Pas de grootte van de tekst aan */
        margin-bottom: 5px; /* Voeg ruimte toe onder de tekst */
        word-break: break-word; /* Breek woorden indien nodig */
        white-space: normal; /* Zorg ervoor dat de tekst meerdere regels kan gebruiken */
        text-align: center;
        width: 50%;
    }

    .container {
        padding: 20px; /* Verminder de padding */
        width: 100%; /* Zorg ervoor dat de container de volledige breedte gebruikt */
    }

    .container-inner {
        width: 100%; /* Zorg ervoor dat de container de volledige breedte gebruikt */
        gap: 15px; /* Verminder de ruimte tussen secties */
    }

    section {
        padding: 15px; /* Verminder de padding binnen secties */
        max-width: none;
        width: 90%;
    }

    section img {
        max-width: 100%; /* Zorg ervoor dat afbeeldingen responsief zijn */
        height: auto; /* Behoud de verhoudingen van de afbeelding */
    }

    section ul li {
        font-size: 1rem; /* Pas de tekstgrootte van lijstitems aan */
    }

    footer p {
        font-size: 0.9rem; /* Maak de tekst in de footer kleiner */
        text-align: center; /* Centreer de tekst in de footer */
        display: block;
        padding: 2px 0;
    }

    .hideInMobile {
        display: none; /* Verberg elementen met deze klasse op mobiele apparaten */
    }

    #countdown {
        gap: 10px; /* Verminder de ruimte tussen de countdown-items */
        position: relative;
        left: 0;
        transform: translateX(0); /* Verwijder de translate om de countdown-items te centreren */
        bottom: 0; /* Verwijder de negatieve waarde om de countdown-items onder de header te plaatsen */
        margin: 20px auto; /* Centreer de countdown-items */
    }

    .countdown-item {
        width: 60px; /* Maak de countdown-items kleiner */
        height: 60px; /* Zorg ervoor dat de hoogte overeenkomt met de breedte */
        font-size: 0.8rem; /* Pas de tekstgrootte aan */
    }

    .countdown-item span {
        font-size: 1.2rem; /* Maak de cijfers kleiner */
    }

    .countdown-item p {
        font-size: 0.5rem; /* Maak de tekst onder de cijfers kleiner */
    }
    
    .container-rsvp p {
        display: block;
        margin: 0 auto; /* Verwijdert standaard marges */
        font-size: 2rem; /* Pas de tekstgrootte aan */
        text-align: center; /* Centreert de tekst */
        padding: 10px 20px; /* Voeg wat binnenruimte toe */
        width: 90%;
    }

    #loading-overlay {
        position: absolute; /* Gebruik absolute positionering als fallback */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px; /* Voeg wat padding toe rond de overlay */
        justify-content: center; /* Zorg ervoor dat de SVG gecentreerd blijft */
        align-items: center;
    }

    .loading-svg {
        width: 150px; /* Verklein de SVG voor kleinere schermen */
        height: 150px; /* Zorg ervoor dat de hoogte overeenkomt met de breedte */
    }
    
}